/* App.css */

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; /* Change to Inter */
}

/* Body Styling */
body {
    background-color: #000;
    color: #fff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Wrapper for content and footer */
#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Main Content Styling */
main {
    flex: 1;
    padding: 20px;
}

/* Footer Styling */
footer {
    background-color: #000;
    color: #ff0; /* Neon Yellow */
    text-align: center;
    padding: 10px;
    border-top: 3px solid #0ff; /* Neon Cyan */
    margin-top: auto;
}

/* Header Styling */
header {
    background-color: #000;
    color: #0ff; /* Neon Cyan */
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #ff0; /* Neon Yellow */
    display: flex;
}

.nav-logo {
    width: 3.5rem;
}

.nav-title {
    text-align: center;
    align-self: center;
    font-size: 3rem;
    font-weight: 400;
    margin: 0 2%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.nav-button {
    text-align: center;
    color: #0ff; /* Neon Cyan */
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

header a:hover {
    color: #ff0; /* Neon Yellow */
}

/* Card Styling */
.card-book {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 35vh;
    height: 70vh;
    overflow: hidden;
    background-color: darkslategray;
    border-radius: 5%;
    padding: .5vw .5vw;
}
.book-cover {
    height: 100%;
    object-fit: contain;
}
.book-details {
    font-size: .5rem;
}
.book-details h1, h3 {
    font-size: 1rem;
}

/* List Group Styling */
.list-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-group-item {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: 1px solid #0ff; /* Neon Cyan */
    margin-bottom: 5px;
}

.list-group-item:hover {
    background-color: #0ff; /* Neon Cyan */
    color: #000;
}
